.topbar {
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1; }
  .topbar p {
    margin-bottom: 0; }
  .topbar #_desktop_user_info .type1, .topbar #_desktop_user_info .type2 {
    display: none; }
  .topbar #_desktop_user_info .type3 {
    display: block; }
  .topbar .languages-info.type1, .topbar .languages-info.type3, .topbar .languages-info.type4 {
    display: none; }
  .topbar .languages-info.type2 {
    display: block; }
  .topbar .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 4px;
    font-size: 13px; }
  .topbar .languages-info .dropdown-menu {
    min-width: 140px; }
  .topbar #_desktop_currency_selector.type3, .topbar #_desktop_currency_selector.type2 {
    display: none; }
  .topbar #_desktop_currency_selector.type1 {
    display: block; }
  .topbar #_desktop_currency_selector a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 7px;
    font-size: 13px; }
  .topbar #_desktop_currency_selector .dropdown-menu {
    min-width: 100px; }
  .topbar .left {
    line-height: 41px; }
    .topbar .left ul {
      margin-bottom: 0; }
      .topbar .left ul li {
        display: inline-block;
        position: relative;
        color: #444; }
        .topbar .left ul li:not(:last-child) {
          margin-right: 34px; }
        .topbar .left ul li.hl {
          color: #ff8400;
          font-weight: 700; }
        .topbar .left ul li:not(:first-child)::before {
          content: "";
          height: 42px;
          width: 1px;
          background: #e1e1e1;
          position: absolute;
          left: -21px;
          top: 0; }
  .topbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .topbar .right .dropdown-menu {
      left: -21px;
      border-top: 0; }
      .topbar .right .dropdown-menu::before {
        display: none; }
    .topbar .right .addon-box {
      margin-left: 42px;
      position: relative;
      line-height: 41px; }
      .topbar .right .addon-box:not(:first-child)::before {
        content: "";
        height: 42px;
        width: 1px;
        background: #e1e1e1;
        position: absolute;
        left: -23px;
        top: 0; }
    .topbar .right .title {
      letter-spacing: 0.5px; }

.header {
  padding: 32px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #jms_ajax_search .searchbox::before {
    display: none; }
  .header #ajax_search {
    height: 47px;
    border-color: #ff4c65;
    border-radius: 30px 0 0 30px;
    padding-left: 25px;
    width: 415px; }
  .header .text-custom {
    display: block; }
  .header #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header #cart_block .ajax_cart_quantity {
      right: -9px;
      top: -7px; }
    .header #cart_block .cart-icon::before {
      top: -3px;
      position: relative; }
  .header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right p {
      margin-bottom: 0; }
    .header .right .addon-box:not(:first-child) {
      margin-left: 15px; }
    .header .right .wishlist_top.home_page {
      top: 1px;
      position: relative; }
  .header #cart_block .shoppingcart-box::before {
    right: 56px; }

.menu {
  background: #ff4c65; }
  .menu .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu p {
    margin-bottom: 0; }
  .menu .jms-megamenu .nav > li:first-child {
    padding-left: 0; }
  .menu .jms-megamenu .nav > li > a {
    color: #fff; }
  .menu .center {
    position: unset;
    text-align: left; }
  .menu #jms-vermegamenu-container {
    margin-top: 2px; }

.slides .text-1 {
  font-weight: 700;
  letter-spacing: 0.5px; }

.slides .text-2 {
  font-family: Roboto;
  letter-spacing: 0.4px;
  line-height: 1.3; }
  .slides .text-2 span {
    font-weight: 700; }
    .slides .text-2 span + span {
      font-weight: 900;
      padding-left: 10px; }

.banner .container > .row {
  margin: 0 -1.5px; }

.banner .layout-column {
  padding: 0 1.5px; }

.banner1 .banner-content {
  max-width: 145px;
  right: 36px; }
  .banner1 .banner-content .text-1 {
    font-size: 20px;
    margin-bottom: 4px; }
  .banner1 .banner-content .text-2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 15px; }
  .banner1 .banner-content .text-3 {
    font-size: 18px;
    color: #ff8400; }

.banner2 .banner-content {
  top: 31px;
  width: 100%;
  text-align: center;
  padding: 0 30px; }
  .banner2 .banner-content .text-1 {
    font-size: 22px;
    color: #000;
    margin-bottom: 18px; }
  .banner2 .banner-content .text-2 {
    font-size: 13px; }
    .banner2 .banner-content .text-2 img {
      position: relative;
      top: -2px;
      left: 1px; }

.banner3 .banner-content {
  max-width: 145px;
  left: 36px;
  text-align: right; }
  .banner3 .banner-content .text-1 {
    font-size: 20px;
    margin-bottom: 4px; }
  .banner3 .banner-content .text-2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 15px; }
  .banner3 .banner-content .text-3 {
    font-size: 18px;
    color: #ff8400; }
