.topbar {
  font-size: 14px;
  background: #f4f4f4; }
  .topbar p {
    margin-bottom: 0; }
  .topbar #_desktop_user_info .type1, .topbar #_desktop_user_info .type2 {
    display: none; }
  .topbar #_desktop_user_info .type3 {
    display: block; }
  .topbar .languages-info.type1, .topbar .languages-info.type3, .topbar .languages-info.type4 {
    display: none; }
  .topbar .languages-info.type2 {
    display: block; }
  .topbar .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 4px;
    font-size: 13px; }
  .topbar .languages-info .dropdown-menu {
    min-width: 140px; }
  .topbar #_desktop_currency_selector.type3, .topbar #_desktop_currency_selector.type2 {
    display: none; }
  .topbar #_desktop_currency_selector.type1 {
    display: block; }
  .topbar #_desktop_currency_selector a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 7px;
    font-size: 13px; }
  .topbar #_desktop_currency_selector .dropdown-menu {
    min-width: 100px; }
  .topbar .left {
    line-height: 42px; }
    .topbar .left ul {
      margin-bottom: 0; }
      .topbar .left ul li {
        display: inline-block;
        position: relative; }
        .topbar .left ul li:not(:last-child) {
          margin-right: 34px; }
        .topbar .left ul li:not(:first-child)::before {
          content: "";
          height: 18px;
          width: 1px;
          background: #e1e1e1;
          position: absolute;
          left: -21px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .topbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .topbar .right .dropdown-menu {
      left: -21px;
      border-top: 0; }
      .topbar .right .dropdown-menu::before {
        display: none; }
    .topbar .right .addon-box {
      margin-left: 42px;
      position: relative;
      line-height: 41px; }
      .topbar .right .addon-box:not(:first-child)::before {
        content: "";
        height: 18px;
        width: 1px;
        background: #e1e1e1;
        position: absolute;
        left: -23px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .topbar .right .title {
      letter-spacing: 0.5px; }

.header {
  padding: 23px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .center .addon-box {
    width: 100%;
    padding: 0 27px; }
  .header .jms-advsearch .input-group-addon.icon-drop-down {
    position: absolute;
    right: 0;
    width: 195px; }
    .header .jms-advsearch .input-group-addon.icon-drop-down::before {
      width: 2px;
      left: 0;
      right: auto;
      background: #ebebeb; }
  .header .jms-advsearch #searchbox {
    border: 1px solid #e1e1e1;
    width: 100%; }
  .header .input-group-search {
    display: none; }
  .header #ajax_advsearch {
    background: transparent url("../img/icon/search-h5.png") no-repeat 17px 13px;
    width: 100%;
    padding-left: 50px; }
  .header #ajax_advsearch::-webkit-input-placeholder {
    color: #555; }
  .header #ajax_advsearch:-ms-input-placeholder {
    color: #555; }
  .header #ajax_advsearch::-ms-input-placeholder {
    color: #555; }
  .header #ajax_advsearch::placeholder {
    color: #555; }
  .header .wishlist_top.home_page, .header .cart-icon {
    color: #000; }
  .header .text-custom {
    display: block;
    color: #000; }
  .header #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header #cart_block .ajax_cart_quantity {
      right: -9px;
      top: -7px; }
    .header #cart_block .cart-icon::before {
      top: -3px;
      position: relative; }
  .header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right p {
      margin-bottom: 0; }
    .header .right .addon-box:not(:first-child) {
      margin-left: 15px; }
  .header .wishlist_top.home_page {
    top: 1px;
    position: relative; }

.ver_menu {
  border-radius: 50%;
  background: #ff4c65;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center; }
  .ver_menu img {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
