.topbar {
  background: #3d4b63;
  color: #fff;
  font-size: 14px; }
  .topbar .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .topbar .title {
    color: #fff; }
  .topbar .left .addon-box {
    position: relative;
    float: left;
    line-height: 42px; }
    .topbar .left .addon-box:not(:last-child) {
      margin-right: 42px; }
      .topbar .left .addon-box:not(:last-child)::after {
        content: "";
        height: 18px;
        width: 1px;
        position: absolute;
        right: -20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.2); }
  .topbar .left .dropdown-menu {
    left: -20px; }
  .topbar .right {
    text-align: right; }
    .topbar .right ul {
      margin-bottom: 0; }
      .topbar .right ul li {
        display: inline-block;
        position: relative; }
        .topbar .right ul li a {
          color: #fff; }
          .topbar .right ul li a:hover {
            color: #ff4c65; }
        .topbar .right ul li.hotline {
          color: #ffd200; }
          .topbar .right ul li.hotline a {
            color: #ffd200; }
        .topbar .right ul li:not(:first-child) {
          margin-left: 34px; }
          .topbar .right ul li:not(:first-child)::before {
            content: "";
            height: 18px;
            width: 1px;
            position: absolute;
            left: -20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.2); }

.header {
  padding: 29px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .jms-megamenu .nav > li:last-child {
    padding-right: 0; }

.menu .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu .right .addon-box {
    width: 100%; }

.menu .cart-icon.type1 {
  display: none; }

.menu .cart-icon.type2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.menu .ver_menu {
  background: #3d4b63;
  color: #fff; }

.menu #ajax_advsearch {
  width: 100%;
  background: transparent;
  padding-left: 18px; }

.menu .jms-advsearch #searchbox {
  width: 714px;
  border-radius: 3px;
  border-color: #ff4c65; }
  .menu .jms-advsearch #searchbox #selector_cat {
    width: 195px; }

.menu .jms-advsearch .input-group-addon.icon-drop-down {
  position: absolute;
  right: 0;
  width: 195px; }
  .menu .jms-advsearch .input-group-addon.icon-drop-down::before {
    right: auto;
    left: 0; }

.menu .jms-advsearch .input-group-addon.input-group-search {
  left: 0; }
  .menu .jms-advsearch .input-group-addon.input-group-search button {
    width: 47px; }
  .menu .jms-advsearch .input-group-addon.input-group-search::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0px;
    width: 1px;
    background: #ebebeb; }

.jms-megamenu .dropdown-menu {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }

.cates .jms-banner {
  border: 1px solid #e1e1e1; }
  .cates .jms-banner:hover {
    border-color: #ff4c65; }
  .cates .jms-banner .banner-content {
    position: absolute;
    bottom: 15px;
    top: auto;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    color: #010101; }

.cates .owl-theme .owl-controls {
  display: block !important; }

.hot_offer .hotdeal-carousel {
  padding-top: 0; }

.best_seller .addon-title h3 {
  margin-top: -3px; }

.best_seller .product-carousel {
  padding-top: 22px; }

.special_deal {
  background-color: #f4f4f4;
  padding: 65px 0 70px; }
  .special_deal .addon-title h3 {
    border-bottom: 1px solid #e8e8e8; }
  .special_deal .container > .row {
    margin: 0 -5px; }
  .special_deal .layout-column {
    padding: 0 5px; }
  .special_deal .product-carousel2 .owl-item .flex-box.product-box::after,
  .special_deal .flex-box .product_button,
  .special_deal .categories-carousel2-no-carousel .pull-right {
    display: none; }
  .special_deal .flex-box.product-box {
    border-radius: 0;
    padding: 0.5px 0; }
    .special_deal .flex-box.product-box:not(:last-child) {
      margin-bottom: 10px; }
  .special_deal .product-preview {
    border-radius: 0; }
    .special_deal .product-preview:hover {
      border-color: transparent; }
  .special_deal .product-carousel2 {
    padding-top: 35px; }
  .special_deal .center {
    text-align: left; }
    .special_deal .center .product-preview .product-info {
      margin-top: 43px; }

@media (min-width: 1367px) {
  .special_deal .left, .special_deal .right {
    width: 32.2%; }
  .special_deal .center {
    width: 35.6%; } }

.banner2 .banner-content, .banner3 .banner-content {
  left: 50px; }
  .banner2 .banner-content p, .banner3 .banner-content p {
    letter-spacing: 0; }
  .banner2 .banner-content .text-1, .banner3 .banner-content .text-1 {
    font-size: 28px;
    color: #000;
    max-width: 206px;
    margin-bottom: 13px;
    letter-spacing: -0.4px; }
  .banner2 .banner-content .text-2, .banner3 .banner-content .text-2 {
    font-size: 20px;
    color: #0062bd; }

.banner3 .banner-content .text-2 {
  font-size: 18px;
  color: #ff8400; }
  .banner3 .banner-content .text-2 span {
    font-size: 20px; }

.banner .container > .row {
  margin: 0 -2px; }

.banner .layout-column {
  padding: 0 2px; }

.page-index #footer {
  margin-top: 56px; }

.footer_t {
  padding: 65px 0 49px; }

#footer {
  border-top-width: 2px; }
  #footer .newsletter {
    padding-left: 26px; }
  #footer .footer_b {
    text-align: center;
    background-color: #f4f4f4; }
    #footer .footer_b .container {
      border: 0; }
      #footer .footer_b .container p {
        letter-spacing: 0; }
