@import "mixin";
@import "varians";

//topbar
.topbar{
	font-size: 14px;
	background: #f4f4f4;
	p{
		margin-bottom: 0;
	}
	#_desktop_user_info{
		.type1, .type2{
			display: none;
		}
		.type3{
			display: block;
		}
	}
	.languages-info{
		&.type1, &.type3, &.type4{
			display: none;
		}
		&.type2{
			display: block;
		}
		@include icon_dropdown(4);
		.dropdown-menu{
			min-width: 140px;
		}
	}
	#_desktop_currency_selector{
		&.type3, &.type2{
			display: none;
		}
		&.type1{
			display: block;
		}
		@include icon_dropdown(7);
		.dropdown-menu{
			min-width: 100px;
		}
	}
	.left{
		line-height: 42px;
		ul{
			margin-bottom: 0;
			li{
				display: inline-block;
				position: relative;
				&:not(:last-child){
					margin-right: 34px;
				}
				&:not(:first-child)::before{
					content: "";
					height: 18px;
					width: 1px;
					background: #e1e1e1;
					position: absolute;
					left: -21px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	.right{
		display: flex;
		justify-content: flex-end;
		.dropdown-menu{
			left: -21px;
			border-top: 0;
			&::before{
				display: none;
			}
		}
		.addon-box{
			margin-left: 42px;
			position: relative;
			line-height: 41px;
			&:not(:first-child)::before{
				content: "";
				height: 18px;
				width: 1px;
				background: #e1e1e1;
				position: absolute;
				left: -23px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.title{
			letter-spacing: 0.5px;
		}
	}
}

//header
.header{
	padding: 23px 0;
	.container > .row{
		@include flexVCenter();
	}
	.center{
		.addon-box{
			width: 100%;
			padding: 0 27px;
		}
	}
	.jms-advsearch .input-group-addon.icon-drop-down {
		position: absolute;
		right: 0;
		width: 195px;
		&::before{
			width: 2px;
			left: 0;
			right: auto;
			background: #ebebeb;
		}
	}
	.jms-advsearch #searchbox{
		border: 1px solid #e1e1e1;
		width: 100%;
	}
	.input-group-search{
		display: none;
	}
	#ajax_advsearch{
		background: transparent url("../img/icon/search-h5.png") no-repeat 17px 13px;
		width: 100%;
		padding-left: 50px;
	}
	#ajax_advsearch::placeholder {
		color: #555;
	}
	.wishlist_top.home_page, .cart-icon{
		color: #000;
	}
	.text-custom {
		display: block;
		color: #000;
	}
	#cart_block{
		display: flex;
		justify-content: flex-end;
		.ajax_cart_quantity{
			right: -9px;
			top: -7px;
		}
		.cart-icon {
			&::before{
				top: -3px;
				position: relative;
			}
		}
	}
	.center{
		@include flexHCenter();
	}
	.right{
		@include flex(flex-end, center);
		p{
			margin-bottom: 0;
		}
		.addon-box:not(:first-child){
			margin-left: 15px;
		}
	}
	.wishlist_top.home_page {
		top: 1px;
		position: relative;
	}
}
.ver_menu{
	border-radius: 50%;
	background: $active;
	width: 50px;
	height: 50px;
	padding: 0;
	text-align: center;
	img{
		left: 50%;
		transform: translate(-50%, -50%);
	}
}